.contenedor {
  position: absolute;
  max-height: 600vh;
  width: 100%;
  background-color: #272727;
}

.contentContainer {
  margin-bottom: 20px;
  height: 150vh;
  padding-top: 70px;
}

.containerDeco {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  max-width: 50%;
  margin: 30px auto;
  background-color: rgb(199, 199, 199);
  border: 2px solid rgba(0, 0, 0, 0.089);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .containerDeco:nth-child(odd) {
    margin-left: 10%; /* La carta se alinea a la derecha */
    margin-right: auto; /* Ajusta para que no esté pegado al borde */
  }
  .containerDeco:nth-child(even) {
    margin-left: auto; /* La carta se alinea a la izquierda con espacio al borde */
    margin-right: 10%;
  }
}

.imgSection,
.textSection {
  flex: 1;
  padding: 20px;
}

.imgSection {
  width: 100%;
  border-radius: 8px;

  border: #191919;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -100px;
  font-family: Arial;
  color: black;
  align-items: flex-start;
  text-align: left;
}

.containerDeco img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.textSection h1 {
  font-family: Cinzel;
  font-size: 30px;
  font-weight: 400;
  color: black;
  width: 300px;
}

.titleDeco {
  margin-top: -55px;
  margin-left: -20px;
}

.textDeco {
  margin-left: -20px;
  margin-top: 20px;
  font-family: Arial;
}

.estiloDeco p {
  position: relative;
  top: 30px;
  right: 20px;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}

.boton {
  margin-left: -290px;
  margin-top: 250px;
  width: 200px;
  border-radius: 8px;
  color: white;
  background-color: #191919;
  height: 43px;
  font-family: Arial;
  font-size: 15px;
}

.boton:hover {
  background-color: white;
  color: #191919;
  font-weight: lighter;
  transition: 0.8s;
}
