/* Estilos Menu*/
.titulo {
  font-size: 9px;
  color: aliceblue;
  font-family: Arial;
  position: absolute;
  width: 100%;
  margin-left: 56px;
  height: 82px;
  top: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.botonera {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 15%;
  top: 10%;
  width: 100%;
  bottom: 0;
  margin-left: 55px;
}

.botonera button {
  padding: 0.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.botonera button {
  margin: 15px 0;
  border: none;
  background: none;
  color: rgb(255, 255, 255);
}

.botonera button.active {
  color: #007bff;
}

.logout {
  position: absolute;
  bottom: 20px;
  margin-left: -48px;
  border: none;
  background: none;
  color: rgb(255, 255, 255);
  font-family: Arial;
}
