.userMenu {
  position: relative;
  background-color: white;
}

.userDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.userDropdown p {
  margin: 0;
}

.menuButton {
  display: inline;
  background-color: grey;
  border-radius: 10px;
  margin-top: 10px;
}

.menuButton:hover {
  display: inline;
  background-color: grey;
  cursor: pointer;
}

.menuButton:active {
  display: inline;
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
}

.p {
  color: black;
}

.buttonUser {
  width: 100%;
  background-color: grey;
  border-radius: 10px;
}

.buttonUser:hover {
  width: 100%;
  background-color: grey;
  cursor: pointer;
}

.buttonUser:active {
  background-color: grey;
  border-radius: 20px;
  cursor: pointer;
}

.divUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}