.containerAll {
  display: flex;
  position: relative;
  /* justify-content: column; */
  align-items: center;
  width: 99vw;
  height: 98vh;
  border: 2px solid red;
  background-color: rgb(28, 53, 53);
}

.boxLeft {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  bottom: 0;
  /* left: 70%; */
  width: 15%;
  height: 89vh;
  border: 2px solid blue;
}

.boxRight {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85%;
  height: 89vh;
  border: 2px solid pink;
}
