.containerAll {
  display: flex;
  position: relative;
  align-items: center;
  width: 99.5vw;
  height: 97vh;
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
}

.boxLeft {
  position: absolute;
  bottom: 0;
  width: 15%;
  height: 100vh;
  background-color: rgb(22, 22, 22);
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.boxRight {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85%;
  height: 89vh;
}
