.imgSuccess {
  width: 70px;
  height: 70px;
  border-radius: 0;
}

.containerSucces {
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.compraImage {
  position: relative;
  width: auto;
  height: 550px;
}

.btnSuccess {
  position: relative;
  top: -60px;
  max-width: 200px;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border: #191919;
  font-weight: lighter;
  color: white;
  height: 35px;
  font-family: Arial;
  font-size: 15px;
}

.btnSuccess:hover {
  background-color: #41bbdc;
  color: black;
  font-weight: bold;
  border: #124e5f;
  transition: 0.8s;
}

@media (max-width: 600px) {
  .btnSuccess {
    margin-bottom: 3rem;
    margin-right: 22rem;
  }
}
