

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loginBackground {
  width: 100%;
  display: flex;
  z-index: 1;
}

.imagennForm {
  position: relative;
  width: 100%;
  display: flex;
  height: 99vh;
}

.loginContainer {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.inputPadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.input1 {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.input1 label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  /* Add spacing between label and input */
}



.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.482);
  border-radius: 34px;
}

.login h2 {
  font-size: 30px;
  text-align: center;
}

.login label {
  font-family: Barlow;
  text-align: left;
  font-weight: bold;
}

.login input {
  width: 100%;
  max-width: 400px;
  height: 45px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn {
  width: 100%;
  width: 400px;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid rgb(177, 171, 171);
  height: 50px;
    margin-inline: .5rem;
    margin-block: .5rem;
}

.login button:hover {
  background-color: #191919;
}

.loginContainer h2 {
  color: white;
  font-size: 25px;
  padding-bottom: 1rem;
  text-align: center;
  font-family: Barlow;
}

.recup {
  width: fit-content;
  margin: 0 auto;
}

.recup:hover {
  cursor: pointer;
  color: #ffffff;
  width: fit-content;
}

.botonera2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* antes de hacerlo responsive estaba asi como abajo */

/* .pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.loginBackground{
  width: 100%;
  display: flex;
  z-index: 1;
}

.imagennForm {
  position: relative;
  width: 100%;
  display: flex;
  height: 99vh;
}
.loginContainer {
  width: 1000px;
  height: cover;
    display: block;
    align-items: center;
    justify-content: center;
    padding-left: 300px;
        top: 25%;
        left: 100%;
        right: 25%;
        position: absolute;
}




.inputPadre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input1{
  width: 400px;
}

  .login {
    display: flex;
    justify-content: center;
    width: 700px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.482);
    border-radius: 34px;
  }

  .login h1 {
    text-align: center;
  }
  .login h2 {
    font-size: 30px;
    
  }

  .login label {
    font-family: Barlow;
  }

  .inputPadre{
    display: block;
    padding-inline: 2rem;
  }

  .login label {
    text-align: left;
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  .login input {
    width: 400px;
    height: 45px;
    background-color: rgba(255, 245, 245, 1);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 25px;
  }
  .login button {
    margin-block: .5rem;
    width: 400px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid rgb(177, 171, 171);
    height: 50px;
  
  }

  .login button:hover {
    background-color: #555556;
  }

  .loginContainer h2{
  color: white;
    font-size: 25px;
    padding-bottom: 1rem;
    font-family: barlow, ;
  } */