.loginBackground img {
  position: fixed; 
  top: 15px; 
  left: 20px; 
  z-index: -1; }

.loginContainer {
  justify-content: center;
  background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    width: 100%;
    height: 100vh;
}


.input1{
  width: 400px;
}

  .login {
    z-index: 8px;
    max-width: 500px;
    margin: 130px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
      background-color: rgba(217, 217, 217, 0.482);
    border-radius: 34px;
  }

  .login h1 {
    text-align: center;
  }

  .login label {
    font-family: Barlow;
  }

  .inputPadre{
    display: block;
    padding-inline: 2rem;
  }

  .login label {
    text-align: left;
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  .login input {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 245, 245, 1);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 25px;
  }
/* 
  .login hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  } */

  .login button {
    margin-block: .5rem;
    width: 400px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid rgb(177, 171, 171);
    height: 50px;
  
  }

  .login button:hover {
    background-color: #555556;
  }

