.offer {
    background: #D9D9D9;
    /* min-height: 89vh; */
    
}

.offer h1{ 
color: #000;
font-family: Cinzel;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
    margin-top: 10px;
}

