.containerPadre {
    display: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 87, 87, 0.69);
}

.containerHijo {
    display: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 1400px;
    min-height: 700px;
    border-radius: 34px;
    padding: 30px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(300px);
}

.containerHijo h6 {
    font-size: 25px;
    font-family: barlow;
}



.containerTable {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1320px;
    max-height: 60vh;
    overflow-y: auto;
}



.container h2 {
    color: aliceblue;
}

.personas {
    display: block;
    padding-block: 1rem;
}