.containerAll{
    display: flex;
    position: relative;
    align-items: center;
    width: 99vw;
    height: 98vh;
    /* border: 2px solid red; */
    background-color: rgba(87, 87, 87, 0.69);
}

.boxLeft{
    position: absolute;
    bottom: 0;
    width: 15%;
    height: 89vh;
    padding-right: 1rem;
    background-color: #191919;
    /* border: 2px solid blue; */
    /* border-right: 2px solid rgb(119, 119, 122); */
}


.titulo{
            font-size: 15px;
            color: aliceblue;
            font-family: arial;
            display: block;
            position: absolute;
            width: 100%;
            height: 82px;
            /* border: 2px solid green; */
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
.botonera{
    display: block;
    position: absolute;
    padding-top: 15%;
    top: 10%;
    width: 100%;
    bottom: 0;
        /* border: 2px solid rgb(145, 223, 20) */
    }
    
.botonera h2{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding-block: .5rem;
    cursor: pointer;;
}
.botonera h2{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding-block: .5rem;
    cursor: pointer;;
}




 .Btn {
    margin-bottom: 1rem;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    color: white;
    height: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
}


.Btn:hover{
    transition: 0.1s;
    background-color: #a08f8f;
}


 h2{
    padding-block: 1rem;
    font-family: Arial, Helvetica, sans-serif;
            bottom: 0;
                width: 100%;

} 

.backBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    background-color: #191919;
    color: white;
    height: 40px;
    font-family: cinzel;
    font-weight: bold;
    font-size: 15px;
}

.backBtn:hover {
    transition: 0.8s;
    background-color: #a08f8f;
}
.boxRight{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 85%;
        height: 89vh;
        /* border: 2px solid pink; */
}

.panelHome{
    display: fixed;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

        .panelHome h6 {
            font-size: 25px;
            font-family: barlow;
            color:#ffffff ;
        }