

.containerAbuelo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid pink; */
}

.containerPadre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-inline: 6rem;
    margin-top: 6rem;
    width: 100%;
    padding-block: 4rem;
    position: relative;
}

.containerHijo {
    position: relative;
    width: 800px;
    min-height: 500px;
    border-radius: 8px;
    padding-top: 30px;
    background-color: white;
    /* border: 3px solid rgb(170, 36, 36); */
    backdrop-filter: blur(300px);
}

.containerHijo2 {
    position: relative;
    width: 510px;
    min-height: 250px;
    border-radius: 8px;
    padding-top: 30px;
    background-color: white;
    /* border: 3px solid rgb(248, 9, 9); */
    backdrop-filter: blur(300px);
}

.containerHijo h6,
.containerHijo2 h6 {
    font-size: 25px;
    font-family: barlow;
}

.containerTable {
    margin-top: 1.5rem;
    position: absolute;
    left: 6%;
    width: 90%;
    height: cover;
    max-height: 200px;
    /* border: 2px solid green; */
    max-height: 30vh;
    overflow-y: auto;
}

.containerTable2 {
    margin-top: 1.5rem;
    position: absolute;
    width: 95%;
    left: 2%;
    height: cover;
    max-height: 300px;
    /* border: 2px solid green; */
     max-height: 30vh;
    overflow-y: auto;
}
