.cardContainer {
  width: 200px;
  background-color: rgba(25, 25, 25, 1);
  position: relative;
  margin: 0 auto;
  height: 300px;
  border-radius: 8px;
  .imagen {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 0;
  }
}

.offerMessage {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}

.cardContainer h2 {
  margin-top: 5px;
  color: #fff;
  text-align: center;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 500;
}

.cardContainer h3 {
  color: #fff;
  font-family: "Barlow";
  font-size: 16px;
  margin-left: 50px;
}
