.cardContainerOffer {
  width: 272px;
  background-color: rgba(25, 25, 25, 1);
  position: relative;
  margin: 0 auto;
  height: 336px;
  border-radius: 8px;
  .imagenOffer {
    width: 272px;
    height: 60%;
    height: 223px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.offerMessage {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}


.nombreOffer{
  width: 100%;
  margin-top: 15px;
  color: #fff;
  font-family: Barlow;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding-left: .8rem;
}

.detailsOffer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%; 
  gap: 3rem;
  padding-inline: 1rem;
}

.detailsOffer span {
  color: #fff;
  text-align: left;
  font-family: Barlow;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* padding-left: .8rem; */

}

.detailsOffer h4 {
  color: #fff;
  font-family: Barlow;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cardContainerOffer h3 {
  color: #fff;
  font-family: "Barlow";
  font-size: 20px;
}

@media (max-width: 480px) {
  .cardContainerOffer {
    height: 200px;
    border-radius: 0px;
    width: 160px;
    .imagen {
      height: 100px;
    }
  }

  .detailsOffer h3 {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 63px;
  }

  .detailsOffer {
    margin-top: 10px;
  }
} 

