.offerSection {
  position: relative;
}

.offer {
  padding-top: 10px;
  background: #d9d9d9;
  height: 500px;
  max-width: 100vw;
  margin-right: center;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}


.offer h1 {
  font-family: Cinzel;
  font-size: 40px;
  font-weight: 400;
  margin: 10px auto;
}

@media (max-width: 480px) {
  .offer {
    padding-top: 0px;
    height: 300px;
  }

  .offer h1 {
    font-size: 25px;
    font-weight: 200px;
  }
}
