.cardContainer{
        display: inline-block;
        width: 200px;
        height: 300px;
        background-color: #222622e4;
        padding: 15px;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
}
.imagen {
        width: 200px;
        height: 150px;
        border-radius: 20px;
}