/*  */
.cardContainer {
        position: relative;
        width: 200px;
        height: 265px; /* Redujimos el alto */
        flex-shrink: 0;
        background-color: #D9D9D9;
        padding: 10px; /* Redujimos el relleno */
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    
    .imagen {
        width: 180px; /* Redujimos el ancho */
        height: 160px; /* Redujimos el alto */
        flex-shrink: 0;
    }
    
    .cardContainer h2 {
        margin-top: 5px;
        color: #000;
        text-align: center;
        font-family: 'Barlow';
        font-size: 16px; /* Redujimos el tamaño de fuente */
        font-weight: 500;
    }
    
    .cardContainer h3 {
    /* Ajusta la posición horizontal */
   margin-top: 2px;
    color: #000;
    text-align: center;
    font-family: 'Barlow';
    font-size: 18px;
    font-weight: 800;
    }
    
    .cardContainer button {
        position: absolute; /* Establece la posición absoluta para el botón */
    bottom: 10px; /* Ajusta la posición vertical */
    right: 50px; /* Ajusta la posición horizontal */
    width: 120px;
    height: 24px;
    background: #191919;
    color: #fff;
    text-align: center;
    font-family: 'Barlow';
    font-size: 12px;
    font-weight: 400;
    }
    