.products_container {
  padding-top: 60px;
  display: grid;
  place-items: center;
  margin-inline: 10px;
  margin-bottom: 30px;
  gap: 1.5rem;
  /* margin-top: 1rem; */
}

@media (min-width: 1200px) {
  .products_container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.buttonPrimary {
  color: #191919;
  position: relative;
  margin-right: -50px;
  padding: 0.5em 1.7em;
  font-size: 18px;
  background: #ffffff;
  border: 1px solid #777777;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #000000, -6px -6px 12px #000000;
  font-family: "Open Sans", sans-serif;
}

.buttonPrimary:hover {
  border: 1px solid rgb(0, 0, 0);
}

.buttonPrimary:active {
  box-shadow: 4px 4px 12px #000000, -4px -4px 12px #000000;
}
