.products_container {
  display: grid;
  margin-left: 55px;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
  order: 2;
}

@media (min-width: 1200px) {
  .products_container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.contenCard button {
  width: 200px;
  height: 40px;
  flex-shrink: 0;
  background: #d9d9d9;
  color: #000;
  text-align: center;
  font-family: Cinzel;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h1 {
  color: white;
}
