.products_container {
  padding-top: 60px;
  display: grid;
  place-items: center;
  margin-inline: 10px;
  margin-bottom: 30px;
  gap: 1.5rem;
  /* margin-top: 1rem; */
}

@media (min-width: 1200px) {
  .products_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.buttonPrimary {
  margin-bottom: 1rem;
  max-width: 270px;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  color: #191919;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.buttonPrimary:hover {
  color: white;
  background-color: #191919;
  transition: 0.8s;
}

.contenCard .h1 {
  color: antiquewhite;
  margin-top: 70px;
  text-align: center;
}
