.CartCard_Container {
  width: 100%;
  max-width: 900px;
  display: flex;
  height: 10%;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.18);
  border-radius: 0;
  background-color: #ffffffac;
  align-items: center;
  margin-block: 0.5rem;
}

@media (max-width: 600px) {
  .CartCard_Container {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-inline: 2px;
  }
}

h2 {
  color: #000;
  text-align: center;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  width: 100px;
  color: #211f1f;
  margin: 0;
  text-align: center;
  font-family: "Barlow";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.imagen {
  width: 70px;
  height: 70px;
  border-radius: 0;
}

.imagen_container {
  display: flex;
  justify-content: center;
  height: 70%;
  padding-left: 1.7rem;
}

.botonera {
  /* margin-left: 8rem; */
  display: flex;
  width: 300px;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.imagen_container {
  display: flex;
  justify-content: center;
  height: 70%;
}

.botonera {
  margin-left: 5rem;
  display: flex;
  width: 400px;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.botonesCantidad {
  width: 60px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  color: #211f1f;
  border: none;
  /* border: 2px solid black; */
  height: cover;
}

.botonesCantidad:hover {
  background-color: #211f1f;
  color: #fff;
}

.name_container {
  width: 200px;
    /* border: 1px solid aqua; */
    margin-left: 2rem;
}

.details {
  width: 100px;
  margin: 0px;
  /* border: 1px solid aqua; */
}

.imagen_container {
  width: 100px;
  align-items: center;
}

.numero {
  display: flex;
  width: 50px;
  background-color: transparent;
  color: #211f1f;
  justify-content: center;
  /* border: 1px solid aqua; */
}

.numero p {
  padding-top: 20px;
  /* border: 1px solid aqua; */
}

.cantidad_Container {
  display: flex;
  /* border: 1px solid aqua; */
}

.eliminar{
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
  gap: 1rem;
  /* border: 1px solid aqua; */
}

.eliminar:hover {
  color: #d71e1e;
}