.containerBag {
    font-size: 15px;
    font-family: barlow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-top: 4rem;
    color: rgb(157, 157, 155);
}
 
.Bag {
font-size: 50px;
color: rgb(157, 157, 155);
}
