.searchBar_Container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    margin-left: 83%;
}

.noStyleButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  outline: none;
  color: white;
}
  
  .noStyleButton:hover  {
    opacity: 0.7;
  }

  .lineInput {
    background: none;      
    border: none;           
    border-bottom: 1px solid white;  
    outline: none;         
    padding: 5px 0;        
    color: white;           
    transition: border-color 0.3s ease; 
    margin-top: 5px;
    margin-left: -75px;
  }
  
  .lineInput:focus {
    border-color: #888;     /* Cambia el color al hacer foco, ajusta según tu diseño */
  }
  
  .btnReset {
    margin: 0 10px;
    border-radius: 5px;
 }

 .btnReset:hover {
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.5;
 }
