
.containerFor {
    margin: 20px;
    padding: 15px;
    border: 1px solid #e21a1a;
    border-radius: 5px;
  }
  
  .containerFor input[type="text"],
  input[type="tel"],
  textarea {
    width: 85%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .containerFor button {
    background-color: #ff7300;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .containerFor br {
    margin: 10px 0;
  }
  