.containerFor {
  margin: 0px auto;
  padding-top: 125px;
}

.formContainer {
  padding: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(217, 217, 217, 0.482); /*color del contenedor*/
  border: 2px solid rgba(250, 22, 22, 0.089);
  border-radius: 8px; /*8px*/
}

.contain {
  display: flex;
  justify-content: center;
  margin-left: -45px;
  padding: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column {
  flex: 1;
  margin-right: 10px;
}

.inputs {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  background-color: rgba(217, 217, 217, 0.482);
  border-radius: 8px;
  margin-left: 30px;
}

.numberTel {
  position: relative;
  margin-left: 1px;
  width: 200px;
}
.Mensaje textarea {
  position: relative;
  width: 324567px;
}
.localidad {
  position: relative;
  margin-left: 0px;
}

.column button {
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  color: #191919;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-left: 60px;
}

.column button:hover {
  color: white;
  background-color: #191919;
  transition: 0.8s;
}

.backButton {
  position: absolute;
  bottom: 30px;
  left: 55px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #191919;
  color: white;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.backButton:hover {
  color: black;
  background-color: white;
  transition: 0.8s;
}
