.navBar {
  padding-inline: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #191919;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  z-index: 999;
  margin-bottom: 0.1rem;
  position: fixed;
  box-shadow: 0px 10px 10px -10px rgba(26, 25, 25, 0.5);
}


.uno {
  align-items: center;
  justify-content: left;
  display: flex;
  left: 200px;
  gap: 1.5;
  width: 100px;
}

.dos {
  display: flex;
  gap: 1rem;
}

.tres {
 position: relative;
left: 20px;
}

.logo {
  position: relative;
  cursor: pointer;

  width: 200px;
}
/* 
.tres {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: center;
}
.logo {
  position: relative;
  cursor: pointer;

  width: 200px;
} */

.cuatro {
  align-items: center;
  justify-content: right;
  display: flex;
  width: 300px;
  gap: 1rem;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  background-color: #191919;
  background: none;
  border: none;
  font-family: Cinzel;
  font-size: 15px;
  cursor: pointer;
}

.user {
  /* padding-right: 3rem; */
  cursor: pointer;
}

.buttonCarrito {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: white;
  top: 10%;
  left: 380px;
  z-index: 1000;
}
