.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 70px;
  background-color: #191919;
  z-index: 100;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.logo {
  cursor: pointer;
  position: absolute;
  top: 4%;
  left: 152px;
  transform: translate(-50%, -50%);
  max-width: 270px;
}

.sectionRight {
  display: flex;
  justify-content: center;
  margin: 140px;
  padding: 30px;
}

.buttonsNav {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
  right: 400px;
}

.navLink {
  margin-right: 30px;
}

.buttonsNav a {
  text-decoration: none;
  color: white;
}

.buttonCarrito {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: white;
  top: 10%;
  position: relative;
  left: 30px;
}

.buttonCarrito:hover {
  opacity: 0.7;
}

.buttonsLogin {
  display: flex;
  position: relative;
  left: 670px;
  bottom: -10px;
}
