.sideBar {
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #d9d9d9;
  z-index: 1000;
  transition: 1s ease-in-out;
}

.sideBar.open {
  left: 0px;
}

.sideBar a {
  display: block;
  padding: 10px 15px;
  color: #191919;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.divUser {
  margin-top: 40px;
}
