.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #393636;
  color: #fff;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.TeamSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
} 

ul {
    list-style: none;
} 

.FooterCopyright {
  grid-column: span 3;
  text-align: center;
}

.Logo {
  background-image: url('../../../public/BG_Design_sin_fondo.png');
  background-size: cover;
  width: 100px; 
  height: 100px; 
}
