.Footer {
  background-color: #393636;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.mainContent {
  flex: 1;  /* Esto hará que el contenido principal ocupe todo el espacio disponible, empujando el footer hacia abajo */
}

.TeamSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
} 

ul {
    list-style: none;
} 

.FooterCopyright {
  grid-column: span 3;
  text-align: center;
}

.Logo {
  background-image: url('../../../public/BG_Design_sin_fondo.png');
  background-size: cover;
  width: 100px; 
  height: 100px; 
}
