.Footer {
  background-color: #d9d9d9;
  color: #191919;
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 250px;
  width: 100%;
}

.pagos {
  height: 60px;
  position: relative;
  left: 400px;
  top: 100px;
}

.mercadopago {
  width: 100px;
  height: cover;
}

.sectionFooterOne {
  display: flex;
  height: 270px;
}

.imagenFooter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenFooter img {
  height: 200px;
  width: auto;
  position: absolute;
  left: 0px;
  bottom: 20px;
}

.containerTeam {
  display: block;
  padding-left: 5%;
  width: 300px;
  margin-left: 700px;
  margin-top: 40px;
}

.TeamSection {
  display: flex;
  gap: 10px;
  position: relative;
  top: 30px;
  width: 320px;
  right: 130px;
  text-align: left;
}

.textoTeam {
  position: relative;
  display: flex;
  width: 90%;
  right: 130px;
  top: 20px;
}

ul {
  list-style: none;
}

.Footer a {
  text-decoration: none;
  color: black;
}

.Footer a:hover {
  text-decoration: underline;
}

.FooterCopyright {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h4 {
  text-align: left;
}

.containRedes {
  border: 1px solid blueviolet;
  display: flex;
  height: 40px;
  position: relative;
  right: 800px;
  padding: 10px;
}
