.Footer {
  background-color: #d9d9d9;
  color: #191919;
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  height: 300px;
  width: 100%;
  padding-top: 30px;
  /* padding-inline: 30px; */
}
.pagos{
  height: 100%;
    padding-left: 2rem;
}
.metodoPago{
  padding-left: 1.6rem;
  padding-top: 6rem;
}
.mercadopago{
  width: 250px;
  height: cover;
}

.sectionFooterOne {
  display: flex;
    height: 270px;
}

.imagenFooter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.imagenFooter img {
  height: 250px;
  width: auto;
  position: absolute;
  left: 800px;
  bottom: 20px;
}

.containerTeam {
  display: block;
  padding-left: 5%;
  width: 300px;
  margin-left: 700px;
  margin-top: 40px;
}

.TeamSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

ul {
  list-style: none;
}

.Footer a {
  text-decoration: none;
  color: black;
}

.Footer a:hover {
  text-decoration: underline;
}

.contactos {
  flex: 1;
  text-align: left;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  width: cover;
  height: 180px;
  padding-inline: 1rem;
  margin-left: 1.5rem;
}

.contactoOne {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  right: -20px;
  top: -25px;
}

.FooterCopyright {

  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 100%;


}


h4 {
  text-align: left;
}

