.containerFor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.form {
  border: 1px solid blue;
  padding: 90px;
  width: 700px;
  height: 600px;
  margin-top: 100px;
}

.sectionRight {
  border: 1px solid orangered;
  flex: 1;
  padding: 10px;
  align-items: flex-start;
}

.sectionLeft {
  border: 1px solid yellow;
  flex: 2;
  align-items: flex-end;
}

input[type="text"],
input[type="radio"],
textarea {
  width: 100%;
  padding: 10px;
}
