.sideBar {
    width: 250px;       /* Ancho de tu barra lateral */
    height: 100vh;      /* Asegura que ocupe todo el alto de la pantalla */
    position: fixed;    /* Fijo a la pantalla */
    left: -250px;       /* Comienza oculto, fuera de la pantalla */
    top: 0;             
    background-color: #333; /* Un fondo oscuro para tu barra lateral */
    color: white;       /* Texto blanco */
    overflow-y: auto;   /* Si hay demasiado contenido, que sea desplazable */
    transition: 0.3s ease;  /* Transición suave al abrir/cerrar */
    z-index: 10;
  }
  
  .sideBar.open {
    left: 0px;    /* Cuando está abierta, la barra lateral se posiciona a la izquierda */
}
  
  /* Estilizar el enlace dentro de la barra lateral */
  .sideBar a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
  
    &:hover {
      background-color: #444; /* Un poco más oscuro cuando pases el mouse por encima */
    }
  }
  