
.loginContainer {
  background-image: url("../LoginForm/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  width: 100%;
  height: 100vh;
}

.loginContainer {
  top: 20%;
  left: 25%;
  right: 25%;
  position: absolute;
  z-index: 6;
}
.login {
  max-width: 900px;
  margin: 80px auto;
  height: 360px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: rgba(217, 217, 217, 1);
}

.login h1 {
  text-align: center;
}

.login label {
  font-family: Barlow;
}

.login label {
  text-align: left;
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

.login input {
  margin-top: 5px;
  height: 15px;
  width: 85%;
  background-color: rgba(255, 245, 245, 1);
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login p {
  color: red;
  font-size: 16.5px;
  margin-top: 1.3px;
}

.loginContainer section {
  display: flex;
  height: 20px;
}

.loginContainer .columna {
  flex: 1;
  flex-direction: row;
  padding-left: 10px;
}

.loginContainer .labelimput {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.login button {
  margin-top: 25px;
  border-radius: 8px;
  background: #191919;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
}

.login button:hover {
  background-color: #555556;
  cursor: pointer;
}

.buttonContainer button {
  position: relative;
  bottom: -270px; /* Ajusta la distancia desde la parte inferior de la página */
  right: 110px;
}

.iniciarsesion {
  position: relative;
  bottom: -319px;
}

.divGoogle button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
  margin-left: 50px;
  margin-top: -129px;
}

.divGoogle button:hover {
  transform: scale(1.02);
}
