.loginContainer {
  background-image: url("../LoginForm/fondo.png");
  background-repeat: no-repeat;
  /* background-color: aquamarine; */
  background-size: cover;
  margin-top: -64px;
  padding-top: 80px;
  width: 100%;
  height: 87.8vh;
}

.login {
  max-width: 800px;
  height: 360px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: rgba(217, 217, 217, 1);
}

.todo {
  background-color: blueviolet;
}

.login h1 {
  text-align: center;
}

.login label {
  font-family: Barlow;
}

.login label {
  text-align: left;
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

.login input {
  height: 30px;
  background-color: rgba(255, 245, 245, 1);
  width: 95%;
  padding: 6px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 2px;
}

.login hr {
  margin: 1px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.login p {
  color: red;
  font-size: 17px;
  margin-top: 1px;
}

.loginContainer section {
  border-color: blueviolet;
  display: flex;
  height: 20px;
}

.loginContainer .columna {
  flex: 1;
  flex-direction: row;
  padding-left: 20px;
}

.loginContainer .labelimput {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.login button {
  margin-top: 25px;
  border-radius: 8px;
  background: #191919;
  width: 160px;
  height: 40px;
  margin-bottom: 10px;
}

.login button:hover {
  background-color: #555556;
}

.buttonContainer button {
  margin-left: 200px;
}
.iniciarsesion button {
  margin-right: 200px;
}
