.pageContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.login section{
  display: flex;
}
.imagennForm {
  opacity: 50%;
  position: left;
  width: 100vh;
  display: flex;
  height: 100vh;
  z-index: 1;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  top:11%;
  left: 0;
  right: 0;
  z-index: 2;
}

.loginContainer .columna {
  flex: 2;
  flex-direction: row;
  padding-left: 10px;
}


.titulo {
  color: #ffffff;
  font-size: 18px;
  font-family: barlow;
}

.login {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 34px;
  background-color: rgba(217, 217, 217, 0.482);
  /* border: .1rem solid white; */
}

.login label {
  font-family: Barlow;
  text-align: left;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  padding-block: 0.5rem;
}

.login input {
  margin: 0;
  width: 100%;
  max-width: 400px;
  height: 45px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login button {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid rgb(177, 171, 171);
  height: 60px;
  margin-inline: 0.5rem;
  margin-block: 0.5rem;
}
.login button:hover {
  background-color: #191919;
}



@media (max-width: 768px) {
  .loginContainer {
    display: flex;
    padding-top: 55%;
  }
.imagennForm{
display: none;
}
  .login input,
  .login button {
    max-width: 100%;
  }
}

