.Filters {
  margin-top: 30px;
}

.Filters select {
  margin-top: 5;
  margin-bottom: 6px;
  margin-right: 1cm;
  color: #fff;
  text-align: center;
  font-family: Cinzel;
  font-size: 15px;
  font-weight: 400;
  background-color: #191919;
  border-color: #191919;
}

.Filters option {
  background: #d9d9d9;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.buttonSecundary {
  color: white;
  position: relative;
  margin-right: -50px;
  padding: 0.3em 1.5em;
  font-size: 15px;
  background: transparent;
  border: 1px solid #777777;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #191919, -6px -6px 12px #191919;
  font-family: "Open Sans", sans-serif;
}
