.Filters {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.Filters select {
  margin-top: 5;
  margin-bottom: 6px;
  margin-right: 1cm;
  color: #fff;
  text-align: center;
  font-family: Cinzel;
  font-size: 15px;
  font-weight: 400;
  background-color: #191919;
  border-color: #191919;
}

.Filters option {
  background: #d9d9d9;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.buttonSecundary {
  margin-bottom: 1rem;
  max-width: 110px;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
  background-color: #191919;
  color: white;
  height: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.buttonSecundary:hover {
  color: black;
  background-color: white;
  font-weight: bold;
  transition: 0.8s;
}
