/* Estilos para el botón "Back" */
.backButton {
  position: absolute;
  bottom: 10px; /* Ajusta la distancia desde la parte inferior de la página */
  left: 10px; /* Ajusta la distancia desde el borde izquierdo de la página */
  background-color: #5e320d;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageContainer {
  flex: 1;
  overflow: clip;
}
.image {
  width: 400px;
  height: 500px;
}

.detailsContainer {
  margin-top: 0px;
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  gap: 10px;
}

.name {
  text-align: center;
  font-family: Cinzel;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description,
.type {
  color: #000;
  text-align: left;
  font-family: Barlow;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 998px) {
  .container {
    flex-direction: column; /* Cambia a dirección de columna en pantallas pequeñas */
    text-align: center;
  }
}

.detailsContainer h2 {
  color: #000;
  font-family: Barlow;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  margin-top: -20px;
}
/* Alinear los elementos en cada fila */
.filas h3 {
  margin-top: 10px;
  text-align: left;
  margin-left: 10px;
  color: #000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Barlow;

  font-size: 23px;
  font-weight: 400;
  line-height: normal;
  line-height: 1.5;
}
/* Estilos para la imagen de WhatsApp */
.detailsContainer a {
  text-align: right;
  margin-bottom: -10px;
  /* Establece el ancho que desees para la imagen */
}

.detailsContainer button {
  margin-top: -30px;
  transform: translate(
    0%,
    -50%
  ); /* Centrar verticalmente en la mitad de la pantalla y mantenerlo a la izquierda */
  width: 280px; /* Establece el ancho que desees */
  height: 50px; /* Establece la altura que desees */
  font-size: 14px; /* Tamaño de fuente */
  padding: 5px 10px; /* Ajusta el relleno según tus preferencias */
}
