.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    background: linear-gradient(to bottom right, #3b3b3b, #000000);
    border-radius: 5px;
    margin: 30px auto;
    max-width: 50%;
    padding: 20px;
    color: white;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: row; /* La imagen a la izquierda y los detalles a la derecha */
    align-items: center;
}



.imageContainer {
    flex: 1;
}

.image {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.detailsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Barlow', sans-serif;
}

.name {
    font-family: Cinzel;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}

.description, .type {
    color: white;
}

.buttons {
    height: 40px;
    background: #D9D9D9;
    color: #000;
    text-align: center;
    font-family: Cinzel;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.backButton {
    background: #D9D9D9;
    color: #000;
    text-align: center;
    font-family: Cinzel;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 40px;
    width: 100px;
    margin-top: 20px;
}

@media (max-width: 998px) {
    .container {
        flex-direction: column; /* Cambia a dirección de columna en pantallas pequeñas */
        text-align: center;
    }
}



/* Estilos para organizar los elementos en dos filas con dos columnas */
.filas {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detailsContainer h2{
    text-align: left; 
    
    margin-top: -5px;
}
/* Alinear los elementos en cada fila */
.filas h3 {
    width: 45%; /* El 48% permite espacio para el espaciado entre las columnas */
    text-align: left;
    margin: 0;
    padding: 5px 0;
}

/* Alinear los elementos en la segunda columna */
.filas h3:nth-child(odd) {
    text-align: left;
}


