.home {
  justify-content: center;
  align-items: center;
}

/* Seccion 1 */

.primerseccion {
  display: flex;
  width: cover;
  bottom: 30px;
  height: 100vh;
  z-index: 999;
}

.imagen {
  width: 100%;
}

.quienes {
  width: 800px;
  position: relative;
  display: block;
  top: 250px;
  padding-inline: 50px;
  justify-content: center;
}

.quienes h1 {
  color: white;
  font-family: Cinzel;
  font-size: 100px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: -50px;
}

.quienes h1:first-child {
  margin-bottom: -35px;
  font-size: 70px;
}

.texto {
  display: block;
  max-width: 600px;
  text-align: left;
  color: white;
  margin-top: 70px;
  font-family: "Open Sans", sans-serif;
}

.fondocontainer {
  left: 300px;
  width: 100%;
  height: cover;
}

.mobileText {
  display: none;
}

.textPrinc {
  display: none;
}

@media (max-width: 480px) {
  .primerseccion {
    flex-direction: column;
    justify-content: center;
  }
  .quienes {
    display: none;
  }

  .imagen {
    display: none;
  }

  .mobileText {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    max-width: 310px;
    margin: 0 auto;
    position: relative;
    bottom: -120px;
  }

  .textPrinc {
    color: white;
    position: relative;
    bottom: -70px;
  }

  .textPrinc h1 {
    font-size: 40px;
    font-family: Cinzel;
    font-weight: lighter;
  }
}

/*  Section 3 */

.contenedor {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.contenedor h1 {
  text-align: center;
  color: white;
  font-family: Cinzel;
  font-size: 40px;
  font-weight: 400;
  margin: 20px auto;
}

.servicios {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.servicio {
  display: flex; /* Alinea la imagen y el título horizontalmente */
  flex-direction: column; /* Organiza los elementos verticalmente */
  align-items: center;
}

.muebles {
  height: 400px;
  width: 400px;
}

.servicio h1 {
  margin: 20px auto;
  font-size: 30px;
}

@media (max-width: 480px) {
  .servicios {
    display: inline;
    justify-content: left;
    gap: 100px;
  }
  .contenedor {
    display: inline;
    max-width: 400px;
  }

  .contenedor h1 {
    font-size: 25px;
    margin: 10px auto;
  }

  .muebles {
    height: 200px;
    width: 200px;
  }
}
