.home {
  /* padding-inline: 40px; */
  justify-content: center;
  align-items: center;
}

/* Seccion 1 */

.primerseccion {
  display: flex;
  /* margin-top: .5rem; */
  width: cover;
  bottom: 30px;
  /* padding-inline: 20px; */
  justify-content: right;
  height: 850px;
  z-index: 999;
}

.quienes{
  width: 1500px;
  position: relative;
    display: block;
      top: 250px;
      padding-left: 45px;
      justify-content: center;
}

.logo{
width: 500px;
right: 200px;
padding-bottom: 2rem;
position: relative;

}





.quienes h1 {
  color: white;
  font-family: Cinzel;
  font-size: 100px;
  font-weight: 400;
  text-align: left;
  margin-bottom: -50px;
}

.quienes h1:first-child {
  margin-bottom: -35px;
  font-size: 70px;
}

.texto {
  display: block;
  max-width: 600px;
  text-align: left;
  color: white;
  margin-top: 70px;
  font-family: "Open Sans", sans-serif;
}



.repisa {
  position: relative;
  width: 1000px;
  height: 1000px;
  /* z-index: 1; */
}

/*  Section 3 */

.contenedor {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.contenedor h1 {
  text-align: center;
  color: white;
  font-family: Cinzel;
  font-size: 40px;
  font-weight: 400;
  margin: 20px auto;
}

.servicios {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.servicio {
  display: flex; /* Alinea la imagen y el título horizontalmente */
  flex-direction: column; /* Organiza los elementos verticalmente */
  align-items: center;
}

.muebles {
  height: 400px;
  width: 400px;
}

.servicio h1 {
  margin: 20px auto;
  font-size: 30px;
}
