.home {
    padding: 40px 40px 40px 40px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.offerBackground {
    background: #D9D9D9; /* El color que deseas */
    padding-left: 90px;
    padding-right: 80px;
    padding-bottom: 25px; /* Añade relleno si es necesario */
    /* Otros estilos según tus preferencias */
  }