
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
}

.toggleSidebarBtn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 70px;
  z-index: 11;
  border: none;
  background: none;
  border-radius: 5px;
  width: 30px; /* Tamaño del SVG */
  height: 30px; /* Tamaño del SVG */
  color:#ffffff
}

.toggleSidebarBtn:hover {
  opacity: 0.7;
}

.toggleSidebarBtn.open {
  background-color: white;
  color: #ffffff;
}

.sideBar {
  z-index: 10; 
}

.sideBar.open {
  background-color: black;
}

.contentContainer {
margin: 0 auto; 
padding: 0px 0px;
text-align: center; 
}