
.containerAbuelo{
position: relative;
display: block;
color: aliceblue;
/* border: 1px solid red; */
width: 100%;
height: 100%;
}

.containerPadre{
margin-top: 1%;
display: flex;
justify-content: center;
flex-direction: row;
color: aliceblue;
/* border: 1px solid rgb(98, 255, 0);
background-color: rgb(114, 49, 49); */
width: 100%;
height: 50%;
gap: 2rem;

}

.containerHijo1{
    position: relative;
    width: 800px;
    background-color: white;
    border-radius: 8px;
    max-height: 400px;
        justify-content: center;
            align-items: center;

}
.containerHijo2{
    position: relative;
            width: 500px;
    max-height: 400px;
    background-color: white;
    border-radius: 8px;
        justify-content: center;
            align-items: center;


}


.containerHijo1 h6{
        font-size: 25px;
               
            font-family: barlow;
            color: black;
            padding-top: 1rem;
}
.containerHijo2 h6{
        font-size: 25px;
        
            font-family: barlow;
            color: black;
            padding-top: 1rem;
}



.containerTable1{
    width: 100%;
   position: absolute;
bottom: 60%;
    left: 8%;
    max-height: 30vh;
        overflow-y: auto;
}
.containerTable{
    width: 450px;
   position: absolute;
   bottom: 60%;
   left: 8%;
/* border: 1px solid rgb(98, 255, 0); */
    max-height: 30vh;
    overflow-y: auto;
}